:root {
    --chron-black: #171212;
    --chron-dm-purple: #4c3e4c;
    --chron-dm-grey: #272727;
    --chron-grey: #454445;
    --chron-gold: #b19658;
    --chron-purple: #8c4fa6;
    --chron-white: #dbe5e5;
}
body {
    background-color: var(--chron-dm-grey);
    color: var(--chron-white);
    font-family: Verdana, Geneva, sans-serif;
}

button {
    width: 200px;
    height: 50px;
    border: 2px solid var(--chron-black);
    background-color: var(--chron-grey);
    color: var(--chron-white);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: var(--chron-gold);
    box-shadow: 2px 2px 5px var(--chron-black);
    color: var(--chron-black);
}

button.pop {
    background-color: var(--chron-purple);
    color: var(--chron-white);
    margin: auto;
}

#pickHistoryArea {
    display:grid;
    padding-bottom: 1em;
}

#pickHistoryCleanUpButton {
    background-color: var(--chron-grey);
    margin: auto;
}

#pickHistoryCleanUpButton:hover {
    background-color: var(--chron-gold);
    box-shadow: 2px 2px 5px var(--chron-black);
    color: var(--chron-black);
}

div.divider {
    width: 1fr;
    height: 3px;
    background-color: var(--chron-black);
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2.smallHeader {
    font-size: 18px;
}

p {
    font-size: 18px;
}

p.scroll {
    font-size: 18px;
    height: 150px;
    overflow-y: auto;
    width: 600px;
    word-wrap: normal;
}

#resetButtonArea {
    padding-top: 1em;
    display:grid;
}

#resetButtonArea button {
    margin: auto;
}

#resetButtonArea button:hover {
    background-color: var(--chron-gold);
    box-shadow: 2px 2px 5px var(--chron-black);
    color: var(--chron-black);
}

#rollButtonArea {
    display: grid;
}

#rollButton:hover {
    background-color: var(--chron-gold);
    box-shadow: 2px 2px 5px var(--chron-black);
    color: var(--chron-black);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--chron-black);
    color: var(--chron-gold);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

textarea.scroll {
    width: 600px;
    height: 150px;
    font-size: 18px;
    color: var(--chron-black);
    word-wrap: break-word;
    overflow-y: auto;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}